@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        @apply p-4 cursor-pointer
    }
    li:hover{
        @apply scale-[1.05] duration-300 font-semibold 
    }
    .button{
        @apply text-white border bg-indigo-600 border-indigo-600
        hover:bg-transparent hover:text-indigo-600 rounded-md
        active:duration-100 active:scale-[0.9]
        
    }
}